.col-md-4{
    background-color: blanchedalmond;
    border-radius: 14px;
    margin-top: 1%;
    padding-left: 0px;
}

.col-md-4 li{
    list-style-type: none;
    margin-top: 8px;
}
.col-md-4.li:hover{
    color: blue;
    background-color: darkolivegreen;
    display:block;
}

.col-md-3{
    margin-bottom: 2%;
}

