.field {
    margin: 15px 0;
}

.field.row .choice,
.field.row > div {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 20px;
}

.field.row .choice:last-of-type,
.field.row > div:last-of-type {
    margin-bottom: 0;

}

.field.row .choice input {
    width: auto;
    display: inline-block;
    margin-right: 20px;
    margin-top: 0;
}

.field.row .choice .form-control,
.field.row .choice .form-control:focus {
    box-shadow: none;
}

.field .form-control {
    font-size: 18px;
    padding: 20px 15px;
    border-radius: 0;
    border-width: 0 0 1px 0;
}

.field .form-control:focus {
    box-shadow: #FF6347;
}

.field.sign-up {
    margin-bottom: 20px;
}

.field.sign-up .btn-container .btn {
    width: 100%;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .field.row .choice,
    .field.row > div {
        padding-left: 0;
        font-size: 18px;
        display: inline-block;
        margin-bottom: 0;
    }

    .field.row .choice:last-of-type,
    .field.row > div:last-of-type {
        padding-left: 15px;
        padding-right: 0;
    }

    .field.sign-up .btn-container {
        padding-left: 0 !important;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}