.blog-post p.lead {
    margin: 20px 0;
}

.blog-wrapper .news-aside .related-articles h3 {
    margin: 10px 0;
}

.blog-wrapper .news-aside .related-article {
    background-color: #313037;
    padding: 10px;
    margin: 10px 0;
    display: block;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

    .blog-wrapper .news-aside img {
        width: 60%;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

    .blog-wrapper .news-aside .related-articles h3 {
        font-size: 120%;
        color: #c1c0c7;
    }

    .blog-wrapper .news-aside .related-articles h3:hover,
    .blog-wrapper .news-aside .related-articles h3:focus {
        color: #f1f0f7;
    }

    .blog-wrapper .news-aside img {
        width: 100%;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}