.tournament-meta {
    background-color: #31849F;
    color: white;
    padding: 10px 0;
}

.tournament-meta li span {
    vertical-align: middle;
}

.tournament-meta li .glyphicon {
    font-size: 150%;
    margin-right: 5px;
    display: inline-block;
}

.tournament-meta li .info-value {
    font-weight: 100;
    text-transform: uppercase;
}

.teaser-video iframe {
    width: 100%;
    height: auto;
}

/* Google Maps */
#gmap_canvas img {
    max-width: none !important;
    background: none !important
}

/* Aside */
.page-aside {

}

.page-aside section {

}

.page-aside .btn {
    width: 100%;
    font-weight: 100;
    padding: 10px 0;
}

.page-aside .organizer {
    padding: 10px 0;
    margin: 10px 0;
}

.page-aside .organizer small {
    text-transform: lowercase;
    color: #616067;
}

.page-aside .organizer h2 {
    margin: 0;
    text-transform: uppercase;
}

.page-aside .availability .btn {
    text-transform: uppercase;
    font-weight: 300;
    padding: 15px 0;
    transition: all 100ms linear;
}

.page-aside .availability.available .btn {
    background-color: #66AB08;
}

.page-aside .availability.available .btn:hover,
.page-aside .availability.available .btn:focus {
    background-color: #569B00;
}

.page-aside .availability.not-available .btn {
    background-color: #FF6347;
}

.page-aside .availability.not-available .btn:hover,
.page-aside .availability.not-available .btn:focus {
    background-color: #EF5337;
}
.page-aside .facebook-event .btn {
    background-color: #0A5A75;
}

.page-aside .facebook-event .btn:hover,
.page-aside .facebook-event .btn:focus {
    background-color: #0A4A65;
}

.page-aside .notes {
    background-color: #f1f0f7;
    padding: 10px;
}