.bg {
    background: no-repeat center center;
}

.bg.bg-cover {
    background-size: cover;
}

.bg.bg-panorama {
    background-image: url(../img/content/main-panorama.jpg);
}

.btn-main-cta {
    background-color: #FF6347;
    color: white;
    border-radius: 0;
    border: 0;
    font-size: 150%;
}

.actions {
    padding: 20px 0;
}

    .actions .action {
        padding-bottom: 20px;
    }
    .actions .action a {
        display: block;
        color: inherit;
        width: 100%;
    }

    .actions .action img {
        border-radius: 50%;
        width: 70%;
        background: #eee;
        display: block;
        margin: 0 auto;
        z-index: 1;
    }

    .actions .action a h2 {
        text-align: center;
        position: absolute;
        bottom: 15%;
        left: 0;
        right: 0;
        width: 100%;
        z-index: 10;
        background-color: white;
        padding: 5px 0;
        margin: 0;
        transition: all 200ms ease-in-out;
    }

    .actions .action a:hover h2,
    .actions .action a:focus h2 {
        padding-bottom: 12%;
        bottom: 0;
    }

.fun-facts {
    padding: 10px 0 20px;
    background: #FF6347;
}

    .fun-facts h1,
    .fun-facts h2 {
        text-align: center;
        text-transform: uppercase;
        font-family: "Bookman", Georgia, "Times New Roman", serif;
    }

    .fun-facts h2 {
        font-size: 150%;
    }

    .fun-facts ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .fun-facts a {
        color: inherit;
        text-decoration: underline;
    }

.newsfeed {
    background-color: #313037;
    padding: 10px 0;
    margin-top: 20px;
}

    .newsfeed a {
        color: white;
        display: block;
        margin: 5px;
        background-color: #FF6347;

        transition: all 200ms ease-in-out;
    }

    .newsfeed a:hover,
    .newsfeed a:focus {
        background-color: #cf4327;
        text-decoration: none;
    }

    .newsfeed a:active {
        background-color: #bf3317;
    }

    .newsfeed .date {
        background-color: white;
        color: #313037;
        font-family: "Bookman", Georgia, "Times New Roman", serif;
        padding: 10px 20px;
        line-height: 40px;
        float: right;
        width: 100px;
    }

        .newsfeed .date .day {
            font-size: 300%;
            font-weight: bold;
            text-align: center;
        }

        .newsfeed .date .month {
            font-size: 20px;
            text-align: center;
        }

    .newsfeed .featured-picture-wrap {
        float: left;
    }

    .newsfeed .featured-picture {
        width: 100px;
        height: 100px;

        background-position: center center;
        background-size: cover;
    }

    .newsfeed .title {
        font-size: 24px;
        font-weight: 100;
        padding: 10px 10px 0;
    }

    .newsfeed .news .title {
        padding-left: 120px;
    }

    .newsfeed .title .lead-in {
        text-transform: uppercase;
    }

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .newsfeed a {

    }

    .newsfeed a:hover,
    .newsfeed a:focus {
        margin-left: 0;
        margin-right: 0;
    }

    .actions .action {
        padding-bottom: 0;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
