/* Header */

.header-wrap {
    background-color: #eee;
    position: relative;
}

.bg {
    background: no-repeat center center;
}

.bg.bg-cover {
    background-size: cover;
}

.bg.bg-panorama {
    background-image: url(../img/content/main-panorama.jpg);
}

    .xs-trigger {
        background-color: #310307;
        padding: 10px 10px 10px;
        color: white;
        position: absolute;
        top: 0;
        z-index: 1000;
        cursor: pointer;
    }

        .xs-trigger.nav-trigger {
            left: 15px;
        }

        .xs-trigger.search-trigger {
            right: 15px;
        }

    /* Main navigation */
    #main-nav {
        display: none;
        background-color: #313037;
        color: white;
    }

    #main-nav ul li a {
        color: white;
        border-radius: 0;

        transition: all 200ms ease-in-out;
    }

    #main-nav ul li a:hover,
    #main-nav ul li a:focus,
    #main-nav ul li.active a {
        color: #313037;
        background-color: #FF6347;
    }

    /* frontpage splash */
    #main-header {
        padding-top: 200px;
        transition: padding 500ms ease-in-out;
    }

    #main-header img.logo {
        display: inline-block;
        width: 100%;
    }

    .btn-main-cta {
        background-color: #FF6347;
        color: white;
        border-radius: 0;
        border: 0;
        font-size: 150%;
    }

.actions {
    padding: 20px 0;
}
    .actions .action a {
        display: block;
        color: inherit;
        width: 100%;
    }

    .actions .action img {
        border-radius: 50%;
        width: 70%;
        background: #eee;
        display: block;
        margin: 0 auto;
        z-index: 1;
    }

    .actions .action a h2 {
        text-align: center;
        position: absolute;
        bottom: 15%;
        left: 0;
        right: 0;
        width: 100%;
        z-index: 10;
        background-color: white;
        padding: 5px 0;
        margin: 0;
        transition: all 200ms ease-in-out;
    }

    .actions .action a:hover h2,
    .actions .action a:focus h2 {
        padding-bottom: 12%;
        bottom: 0;
    }

.footer-wrap {
    background: #313037 url(../img/bg-footer.png) top left;
    color: #eeeeee;
}

#main-footer {
    padding-bottom: 40px;
}

#main-footer .list ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.social-media ul {
    display: block;
}

.social-media li {
    display: inline-block;
    width: 49%;
    margin: 0;
    padding: 0;
}

.social-media img {
    width: 30%;
    margin: 0 auto;
    display: block;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #main-nav {
        display: block !important;
    }
    #main-header {
        padding-top: 200px;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
