/*****************************************/
/*     Styles for the general layout     */
/*****************************************/

/* Mobile triggers and menus */
.xs-trigger {
    padding: 10px 10px 10px;
    color: white;
    position: absolute;
    top: 0;
    z-index: 1000;
    cursor: pointer;
}

.xs-trigger.nav-trigger {
    left: 15px;
}

.xs-trigger.search-trigger {
    right: 15px;
}

.mobile-content {
    padding: 10px 0;
    position: relative;
    background-color: #FF6347;
}

.mobile-content h1.main-title  {
    margin: 0;
    padding: 0;
    color: white;
    text-align: center;
    font-size: 135%;
}

/* Navigation strip */

.header-wrap {
    background-color: #eee;
    position: relative;
}

/* Main navigation */
#main-nav {
    display: none;
    background-color: #313037;
    color: white;
}

#main-nav .nav-logo {
    height: 30px;
    display: block;
    opacity: 0.6;
    margin: 5px 0;

    transition: all 500ms ease-in-out;
}

#main-nav .nav-logo:hover,
#main-nav .nav-logo:active {
    opacity: 1;
    height: 40px;
    margin: 0;
    transform: rotate(1080deg);
}

#main-nav ul li a {
    color: white;
    border-radius: 0;

    transition: all 200ms ease-in-out;
}

#main-nav ul li a:hover,
#main-nav ul li a:focus,
#main-nav ul li.active a {
    color: #313037;
    background-color: #FF6347;
}

/* top splash */
#main-header {
    padding-top: 100px;
    transition: all 500ms ease-in-out;
}

#main-header img.logo {
    display: inline-block;
    width: 100%;
}

/* Common footer */

.footer-wrap {
    background: #313037 url(../img/bg-footer.png) top left;
    color: #eeeeee;
}

#main-footer {
    padding-bottom: 40px;
}

    #main-footer .list h2 {
        text-align: center;
    }

#main-footer .list .no-header {
    margin-top: 20px;
}

    #main-footer .list ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        text-align: center;
    }

    #main-footer .social-media ul {
        display: block;
    }

    #main-footer .social-media li {
        display: block;
        margin: 0;
        padding: 0;
    }

    #main-footer .social-media img {
        width: 30%;
        margin: 0 auto;
        display: block;
    }

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #main-nav {
        display: block;
    }

    #main-header {
        padding-top: 250px;
    }

    #main-footer .list .no-header {
        margin-top: 70px;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .container {
        max-width: 970px;
    }
}
