/* Header */

.header-wrap {
    background-color: #eee;
}

.bg {
    background: no-repeat center center;
}

.bg.bg-cover {
    background-size: cover;
}

.bg.bg-panorama {

    background-image: url(../img/content/main-panorama.jpg);
}


    /* Main navigation */
    #main-nav {
        background-color: #313037;
        color: white;
    }

    #main-nav ul li a {
        color: white;
        border-radius: 0;

        transition: all 200ms ease-in-out;
    }

    #main-nav ul li a:hover,
    #main-nav ul li a:focus,
    #main-nav ul li.active a {
        color: #313037;
        background-color: #FF6347;
    }

    /* frontpage splash */

    #main-header {
        padding-top: 200px;

    }

    #main-header img.logo {
        display: inline-block;
        width: 100%;
    }