
.blog-wrapper .news-aside section {
    background-color: #eee;
    margin-top: 10px;
    padding: 10px;
}

.blog-wrapper .news-aside section h2 {
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 150%;
}

.blog-wrapper .news-aside .filters ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.blog-wrapper .news-aside .filters ul li {
    display: inline-block;
    margin-right: 15px;
}

.blog-wrapper .news-aside .filters ul li label {
    font-weight: normal;
}

.blog-wrapper .news-aside .filters ul li input {
    margin-right: 5px;
}

.blog-wrapper .blog-post ul.tags {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.blog-wrapper .blog-post ul.tags li {
    display: inline-block;
    margin: 0 10px 10px 0;
}

.blog-wrapper .blog-post ul.tags li:last-of-type {
    margin-right: 0;
}

.blog-wrapper .blog-post .post-header h2 a {
    color: #313037;
    text-decoration: none;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

    .blog-wrapper .news-aside section h2 {
        font-size: 150%;
    }

    .blog-wrapper .news-aside .filters ul {
        text-align: left;
    }

    .blog-wrapper .news-aside .filters ul li {
        display: block;
        margin: 5px 0;
    }

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}